<%= render 'shared/sub_catalogues', sub_catalogues: @sub_catalogues %>

<div class="col-9 content">

	<%= render partial: 'shared/poster', locals: { img_url: 'poster.png' } %>

	<div class="row col-12 products-list">
		<%= render 'products/products_list' %>
	</div>	

</div>