<% provide(:title, "Forgot password") %>

<div class="row">
  <div class="col-lg-6 col-lg-offset-3">
  	
  		<h1 class="text-center">Forgot password</h1>
  		
	    <%= form_for(:password_reset, url: password_resets_path) do |f| %>
	      <%= f.label :email %>
	      <%= f.email_field :email, class: 'form-control' %>

	      <%= f.submit "Submit", class: "link link-primary" %>
	    <% end %>
   
  </div>
</div>