<% provide(:title, @user.name) %>

<div class="row">
	<% if @user.admin? %>
		<%= render 'admin_aside' %>
	<% else %>
		<%= render 'user_aside' %>
	<% end %>

	<div class="col-9 user-page">
		<%= render 'watching_list' %>
	</div>

</div>