<% provide(:title, @user.name) %>

<% if @user.admin? %>
	<%= render 'admin_aside' %>
<% else %>
	<%= render 'user_aside' %>
<% end %>

<div class="col-lg-9 user-page">
	<%= render 'watching_list' %>
</div>