<div class="row cart-item">
 
  <div class="col-lg-4">
    <p class="text-bold">PRODUCT'S NAME</p>
  </div>

  <div class="col-lg-2">
    <p class="text-center text-bold">TOTAL PRICE</p>
  </div>  

  <div class="col-lg-2">
    <p class="text-center text-bold">
      UNIT PRICE
    </p> 
  </div>    
  
  <div class="col-lg-3 remove-padding">   
    <div class="col-lg-6">      
      <p class="text-bold text-center text-bold">QUANTITY</p>    
    </div> 

    <div class="col-lg-6"></div>     
  </div>   

  <div class="col-lg-1"></div>  
  
</div>