<div class="col-3">
	<div class="menu">
		<h3><%= sub_catalogues.first.catalogue.name.upcase %></h3>
		<ul class="nav sub-menu">
			<% for i in 0..(sub_catalogues.length - 2) do  %>
				
				<li><%= link_to sub_catalogues[i].name, sub_catalogue_path(sub_catalogues[i]) %></li>			
				
			<% end %>
				<li class="last"><%= link_to sub_catalogues.last.name, sub_catalogue_path(sub_catalogues.last) %></li>
		</ul>
	</div>				
</div>