<div class="col-lg-3 cart-detail">
	<%= render 'cart_detail' %>
</div>

<div class="col-lg-9 content">	
	<div class="shopping-cart">		
		
		<%= render 'shopping_cart' %>
			
	</div>

	<div class="customer-service">
		<div class="col-lg-2 remove-padding-left">
			<%= link_to "Tiep tuc mua hang", root_path, class: "link link-inline text-bold" %>
		</div>
		<div class="col-lg-10 remove-padding-right">
			<ul class="menu menu-inline">
				<li><a href="#">Shopping terms |</a></li>
				<li><a href="#"> Dieu kien giao hang</a></li>
			</ul>
		</div>
	</div>
</div>