<div class="row cata-form">
	<%= form_for(@new_catalogue, remote: true) do |f| %>
	<div class="col-9">      
    <%= f.text_field :name, placeholder: placeholder %>     
  </div> 
  <div class="col-3">   
  	<%= f.hidden_field :parent_id, value:  parent_id %>    
    <%= f.submit "Create", class: "btn btn-primary" %>         
  </div> 
  <% end %>   
</div>