/**********************
Tham khảo trên http://www.w3schools.com/css/css_rwd_intro.asp
/**********************/
/********** Basic Responsive layout **************/
* {	box-sizing: border-box;}
[class*="col-"] {
	float: left;	
}
.row::after {
	content: "";
	clear: both;
	display: block;
}
[class*="col-"] {width: 100%;} /* Màn hình nhỏ - Điện thoại*/
@media only screen and (min-width: 600px) {
	.col-1 {width: 8.33%;}
	.col-2 {width: 16.66%;}
	.col-3 {width: 25%;}
	.col-4 {width: 33.33%;}
	.col-5 {width: 41.66%;}
	.col-6 {width: 50%;}
	.col-7 {width: 58.33%;}
	.col-8 {width: 66.66%;}
	.col-9 {width: 75%;}
	.col-10 {width: 83.33%;}
	.col-11 {width: 91.66%;}
	.col-12 {width: 100%;}

/******** For Menu ****************/
	.navbar {		
		height: 45px;
		line-height: 45px;		
	}		
	.top-menu li, .cart li {
		display: inline-block;	
	}	
	.top-menu a {padding: 0px 10px;}
	.menu {		
		box-shadow: 1px 1px 2px #bbb;
		margin-right: 10px;	
		min-height: 285px;		
	}
	.form-control {
		width: 100%;
	}
}

/**************** Basic Layout *************/
header, nav, footer {  display: block; }
html { font-family: "Lucida Sans", sans-serif; }
body {
	margin-top: 0;
	padding: 0;
}
.wrapper { 	width: 100%; }
header {
	background-image: url(asset-path("banner.jpg"));
	background-clip: border-box;
	background-position: center;		
	min-height: 150px;		
}
div.logo { 	text-align: center;	}
h1.logo {
	color: #ff4081;
	font-weight: bold;
	text-shadow: 1px 1px 1px #fff;
	margin-bottom: 0;
	margin-top: 50px;
}
span.slogan {
	color: #fff;
	font-weight: lighter;
	font-size: 15px;
}

li a.text-pink { color: #ff4081; }
div.cart {
	border: 1px solid #fff;
	height: 50px;
	line-height: 50px;
}
ul.cart {text-align: right;}
li.cart {margin-right: 20px;}

.content, .poster {border: 1px solid #fff;}

img {
	width: 100%;	
	margin: 0px;
	padding: 0px;
}
h1 {
	margin-top: 0;
	color: #666;
}
h2, h3 {
	color: #ff4081;
	margin-top: 0;	
}
h4 { color: #666; }
a {text-decoration: none;}
input[type=submit] { box-shadow: none; }
fieldset {
	border: none;
	padding-bottom: 0;
	padding-top: 2px;
	margin-top: 12px;
}
fieldset.first {margin-top: 0;}
legend { font-size: 11px; }
input, textarea {
	width: 100%;	
	font-size: 11px;	
}
input, select {height: 22px;}
select {
	font-size: 11px;
	width: 100%;
}
p, label, span { 
	font-size: 11px;	
	color: #666;
}

footer {		
	color: #666;
	text-align: center;
	font-size: 11px;
	height: 45px;
	line-height: 45px;	
	border-top: 1px solid #bbb;
	margin-top: 30px;
}

/********** For flash ******************/
.flash {
	max-height: 30px;
	line-height: 30px;
	text-align: center;	
}
.alert {		
	font-size: 11px;
	color: #666;
}
.alert-success {
	color: #4caf50;	
	background-color: #c8e6c9;
}
.alert-danger {
	color: #f44336;
	background-color: #ffcdd2;
}
/********** For information row ***************/
.infor {
	border-top: 1px solid #bbb;
	margin-top: 40px;
}
.box {
	text-align: center;
	padding: 0px 20px;
}
p.us {
	text-align: left;
	color: #666;
}

/******** For displaying products *************/
.product {
	width: 24%;
	min-height: 150px;
	border: 1px solid #ddd;
	float: left;
	padding: 10px;
	border-radius: 5px;
	box-shadow: 1px 1px 2px #bbb;
	margin: 3px ;
}
.sanpham { max-height: 50%;	}

p.tensp {  height: 30px;}

p.giasp, .soluongsp p { color: #444; }
p.giasp {
	margin-top: 10px;
	margin-bottom: 5px;
}

/**************** For shopping cart *****************/
.order-detail {
	box-shadow: 1px 1px 0px #bbb;	
	background-color: #eee;
	padding: 15px 20px;
	border-radius: 5px;
	margin-bottom: 5px;
}
.shopping-cart { border-top: 1px solid #bbb; }
.form-control {
	width: 100%;	
	margin-bottom: 11px;	
	height: 22px;
}
.cart-item {
	height: 22px;
	line-height: 22px;
	margin-top: 10px;	
}
.cart-item p {
	margin: 0px;
	display: block;
	width: 100%;
}
.form { max-height: 100%; }

#order_item_quantity {	
	height: 22px;
	border: 1px solid #bbb;	
	width: 90%;
	position: relative;
	top: -1.25px;
}

.customer-service {
	border-top: 1px solid #bbb;
	margin-top: 50px;	
	height: 40px;	
	line-height: 40px;
}
.customer-service ul { text-align: right; }

/*********** For user *********/
.user-form, .form {
	position: relative;
	width: 40%;
	left: 30%;
}
#error_explanation { color: red; }
#error_explanation ul {
	list-style: number;
	font-size: 11px;
}
.checkbox {
	display: block;
	width: 100%;	
	height: 22px;
	line-height: 22px;
	margin-bottom: 11px;	
	span {
		margin-left: 0px;	
		display: inline-block;
		position: relative;
		top: -7px;			
	}
	input { 
		display: inline-block;
		width: auto;		
		margin-left: 0;
		margin-top: -1px;
	}
}
.user { 
	margin-bottom: 5px;
	height: 22px;
	line-height: 22px;
	border-bottom: 1px solid #bbb;
}

/*********** For button and link ***********/
.btn {
	color: #ff4081;
	font-size: 11px;
	text-align: center;	
	width: 100%;
	border: none;	
	display: block;
	height: 22px;	
}
.btn-default:hover {text-decoration: underline;}
.btn-primary {
	background-color: #ff4081;
	color: #fff;
}
.btn-primary:hover {
	background-color: #ccc;
	color: #ff4081;
}
.button {
	width: 150px;
	height: 33px;		
}
.btn-21 { height: 21px; }

.link {
	text-decoration: none;
	display: block;	
	font-size: 11px;	
}
.link-primary {	
	background-color: #ff4081;
	color: #fff;	
	text-align: center;
	padding: 5px 0px;
}
.link-primary:hover, .link-primary:active {
	background-color: #ccc;
	color: #ff4081;
}
.link-inline { 
	display: inline-block;
	color: #ff4081;
}
.link-inline:hover { text-decoration: underline; }
.background-grey { background-color: #ccc; }

/********** For text ******************/
.text { font-size: 11px; }
.text-left { text-align: left; }
.text-right { text-align: right; }
.text-center { text-align: center; }
.text-pink { color: #ff4081; }
.text-green { color: green; }
.text-hover:hover { text-decoration: underline; }
.text-bold { font-weight: bold; }
.text-grey { color: #666; }
.border-bottom { border-bottom: 1px solid #bbb; }

/**************** For Admin **************/
.quan-ly { margin-top: 30px; }
input[name="giaSp"] { width: 49%; }

/**************** For top menu *************/
.navbar {	
	text-align: center;	
	//border-radius: 5px;
	border-bottom: 1px solid #bbb;
}
.top-menu a {
	padding: 3px 10px;	
	font-weight: bolder;
}
.top-menu a:hover { color: #ff4081; }
li a.active { color: #ff4081; }

/*********** For sub menu ****************/
.menu {
	box-shadow: 1px 1px 0px #bbb;	
	background-color: #eee;
	padding: 15px 20px;
	border-radius: 5px;
	margin-bottom: 5px;
}
.sub-menu a {
	border-bottom: 1px solid #ccc;	
	color: #666;
	padding-top: 5px;
	padding-bottom: 5px;	
}
.sub-menu li.last a {border-bottom: none;}
.sub-menu a:hover { color: #ff4081; }

/************ For nav *************/
.nav {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.nav a {
	display: block;
	text-decoration: none;	
	font-size: 11px;
	color: #666;	
	font-weight: normal;	
}

/************ Inline nav ***********/
.nav-inline li { display: inline-block;	}
ul.nav-inline li {
	height: 100%;
	line-height: 100%;		
}
ul.nav-inline a {
	font-weight: 100;
	font-size: 10px;
}
ul.nav-inline a:hover { text-decoration: underline; }

/********** For pagination **********/
.pagination {	
	clear: both;	
	width: 100%;
	display: block;
	padding-top: 30px;	
	text-align: center;
	font-size: 15px;
}
.pagination span { font-size: 15px; }
.pagination ul { list-style-type: none;	}
.pagination ul li { display: inline-block; }
.pagination a { color: #666; }
.pagination em.current {
	color: #ff4081;
	font-style: normal;
}
/*************** The end ******************/