/**********************
Tham khảo trên http://www.w3schools.com/css/css_rwd_intro.asp
/**********************/
/********** Basic Responsive layout **************/
* {	box-sizing: border-box;}
[class*="col-"] {
	float: left;	
}
.row::after {
	content: "";
	clear: both;
	display: block;
}
[class*="col-"] {width: 100%;} /* Màn hình nhỏ - Điện thoại*/
@media only screen and (min-width: 600px) {
	.col-1 {width: 8.33%;}
	.col-2 {width: 16.66%;}
	.col-3 {width: 25%;}
	.col-4 {width: 33.33%;}
	.col-5 {width: 41.66%;}
	.col-6 {width: 50%;}
	.col-7 {width: 58.33%;}
	.col-8 {width: 66.66%;}
	.col-9 {width: 75%;}
	.col-10 {width: 83.33%;}
	.col-11 {width: 91.66%;}
	.col-12 {width: 100%;}
/******** For Menu ****************/
	.navbar {		
		height: 45px;
		line-height: 45px;		
	}		
	.top-menu li, .cart li {
		display: inline-block;	
	}	
	.top-menu a {padding: 0px 10px;}
	.menu {		
		box-shadow: 1px 1px 2px #bbb;
		margin-right: 10px;	
		min-height: 285px;		
	}
}

/**************** Basic Layout *************/
header, nav, footer {
	display: block;
}
html {
	font-family: "Lucida Sans", sans-serif;
}
body {
	margin-top: 0;
	padding: 0;
}
.wrapper {
	width: 100%;		
}
header {
	background-image: url(asset-path("banner.jpg"));
	background-clip: border-box;
	background-position: center;		
	min-height: 150px;		
}
div.logo {
	text-align: center;	
}
h1.logo {
	color: #ff4081;
	font-weight: bold;
	text-shadow: 1px 1px 1px #fff;
	margin-bottom: 0;
	margin-top: 50px;
}
span.slogan {
	color: #fff;
	font-weight: lighter;
}
div.cart {border: 1px solid #fff;}
ul.cart {text-align: right;}
li.cart {margin-right: 20px;}
ul.cart li {
	height: 40px;
	line-height: 40px;		
}
ul.cart a {
	font-weight: 100;
	font-size: 10px;
}
li.signup a, li.login a {
	color: #ff4081;	
}
.content, .poster {border: 1px solid #fff;}
.product {
	width: 24%;
	min-height: 150px;
	border: 1px solid #ddd;
	float: left;
	padding: 10px;
	border-radius: 5px;
	box-shadow: 1px 1px 2px #bbb;
	margin: 3px ;
}
.sanpham {
	max-height: 50%;			
}
img {
	width: 100%;	
	margin: 0px;
	padding: 0px;
}
h3 {
	color: #ff4081;
	margin-top: 0;	
}
p {
	font-size: 11px;	
}

p.tensp {  
	height: 30px;
}

p.giasp, .soluongsp p {
	color: #444;
}
p.giasp {
	margin-top: 10px;
	margin-bottom: 5px;
}
.link a {
	text-decoration: none;
	display: block;
	background-color: #ff4081;
	color: #fff;
	font-size: 11px;
	text-align: center;
	padding: 5px 0px;
}
.link a:hover, .link a:active {
	background-color: #ccc;
	color: #ff4081;
}
h4 {
	color: #666;
}
a {text-decoration: none;}
.infor {
	border-top: 1px solid #bbb;
	margin-top: 30px;
}
.box {
	text-align: center;
	padding: 0px 20px;
}
p.us {
	text-align: left;
	color: #666;
}
footer {		
	color: #666;
	text-align: center;
	font-size: 11px;
	height: 45px;
	line-height: 45px;	
	border-top: 1px solid #bbb;
	margin-top: 30px;
}
/**************** For Admin **************/
.quan-ly {
	margin-top: 30px;
}
fieldset {
	border: none;
	padding-bottom: 0;
	padding-top: 2px;
	margin-top: 12px;
}
fieldset.first {margin-top: 0;}
legend {
	font-size: 11px;
}
input, textarea {
	width: 100%;	
	font-size: 11px;	
}
input, select {height: 22px;}
.button {
	width: 150px;
	height: 33px;		
}
input[name="giaSp"], select {
	width: 49%;
}
select {
	font-size: 11px;
}
/**************** For top menu *************/
.navbar {	
	text-align: center;	
	//border-radius: 5px;
	border-bottom: 1px solid #bbb;
}
.nav {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.nav a {
	display: block;
	text-decoration: none;	
	font-size: 11px;
	color: #666;	
	font-weight: normal;	
}
.cart li {
	display: inline-block;	
}
.top-menu a {
	padding: 3px 10px;	
	font-weight: bolder;
}
.top-menu a:hover, .top-menu a:active {
	color: #ff4081;
}
li.active a {
	color: #ff4081;
}
/*********** For sub menu ****************/
.menu {
	box-shadow: 1px 1px 0px #bbb;	
	background-color: #eee;
	padding: 15px 20px;
	border-radius: 5px;
	margin-bottom: 5px;
}
.sub-menu a {
	border-bottom: 1px solid #ccc;	
	color: #666;
	padding-top: 5px;
	padding-bottom: 5px;	
}
.sub-menu li.last a {border-bottom: none;}
.sub-menu a:hover {
	color: #ff4081;
}

/********** For pagination **********/
.pagination {
	clear: both;	
	max-width: 100%;
}
.pagination ul {
	list-style-type: none;	
	display: block;		
	max-width: 100%;
	padding-top: 30px;
	text-align: center;
}
.pagination ul li {
	display: inline-block;	
}
.pagination a {
	color: #666;
}
.pagination a.active {
	color: #ff4081;
}
/*************** The end ******************/