<fieldset>
	<legend>Loại sản phẩm</legend>
	<select name="loaiSpChinh">
		<option value="duongDaMat">Dưỡng da mặt</option>
		<option value="trangDiem">Trang điểm</option>
		<option value="tamDuongThe">Tắm & dưỡng thể</option>
		<option value="nuocHoa">Nước hoa</option>
		<option value="chamSocToc">Chăm sóc tóc</option>
	</select>
	<select name="loaiSpPhu">
		<option value="">Rửa mặt</option>
		<option value="">Cân bằng</option>
		<option value="">Tinh chất & Đặc trị</option>
		<option value="">Dưỡng ẩm</option>
		<option value="">Chống nắng</option>
		<option value="">Dưỡng vùng mắt</option>
		<option value="">Dưỡng môi</option>
	</select>
</fieldset>