<% if current_user.admin? %>
	<%= render 'users/admin_aside' %>

	<div class="col-lg-9 content">	
		<div class="row products-list">
			<%= render partial:'products/products_list', locals: { products: @products } %>
		</div>	
	</div>

<% end %>