<div class="row col-12 cart">
	<ul class="nav cart">
		<li class="login"><a href="">Đăng nhập | </a></li>
		<li class="signup"><a href="">Đăng ký | </a></li>
		<li class="cart"><a href="">Giỏ hàng đang rỗng</a></li>
	</ul>
</div>