<div class="row col-12 cart">
	<ul class="nav nav-inline cart">
		<li><%= link_to 'Đăng nhập |', '#', class: "login" %></li>
		<li><%= link_to ' Đăng ký | ', '#', class: "signup" %></li>
		<li><%= render 'layouts/cart_text' %></li>
	</ul>
</div>