<div class="row infor">
	<div class="col-4 box">
		<a href=""><h4>THANH TOÁN ĐẢM BẢO</h4></a>
		<a href=""><img src="images/thanhtoan.jpg" alt="thanh toan"></a>
	</div>
	<div class="col-4 box">
		<a href=""><h4>CHUYỂN PHÁT NHANH</h4></a>
		<a href=""><img src="images/vanchuyen.jpg" alt="thanh toan"></a>
	</div>
	<div class="col-4 box">
		<h4>THE BEAUTY SHOP</h4>
		<p class="us">Vui lòng liện với chúng tôi để được hướng dẫn chi tiết</p>			
		<p class="us">Địa chỉ: </p>
		<p class="us">Điện thoại: 0123456789</p>
		<p class="us">Giấy phép: </p>
	</div>
</div>