<nav class="row col-12 navbar">
	<ul class="nav top-menu">
		<li><a href="">DƯỠNG DA MẶT</a></li>
		<li><a href="">TRANG ĐIỂM</a></li>
		<li><a href="">TẮM & DƯỠNG THỂ</a></li>
		<li><a href="">NƯỚC HOA</a></li>
		<li><a href="">CHĂM SÓC TÓC</a></li>
		<li><a href="">KHUYẾN MÃI</a></li>
		<li><a href="">TÌM CỬA HÀNG</a></li>
	</ul>
</nav>